:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F3F2F1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}


body {
  margin: 0;
}